<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Tatum Movies</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body ng-controller='myController'>

  <!-- <div ng-views>

  </div> -->

  <form role="form" ng-submit='postMovie()'>
     <div class="form-group">
       <label for="email">Movie</label>
       <input ng-model="movie" type="text" class="form-control" id="movie">
     </div>
     <div class="form-group">
       <label for="pwd">Year</label>
       <input ng-model="year" type="text" class="form-control" id="year">
     </div>
     <div class="checkbox">
       <label><input ng-model"chickflick" type="checkbox">Chick-flick</label>
     </div>
     <button type="submit" class="btn btn-default">Submit</button>
   </form>

<!-- Show all our movies -->
   <div ng-repeat="movie in movies">
     <h5><strong>{{ movie.movie }}</strong></h5>
     <ul>
     <li>{{ movie.year }}</li>
     <li>Chickflick: {{ movie.chickflick }}</li>
     </ul>
     <button ng-click="deleteMovie()" class="btn btn-danger btn-xs">DELETE</button>
     <button class="btn btn-warning btn-xs">EDIT</button>
   </div>


  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
  <script src="js/app.js" type="text/javascript"></script>
  <script src="js/controllers.js" type="text/javascript"></script>
<!--   // <script src="js/directives.js" type="text/javascript"></script> -->
  <script src="js/filters.js" type="text/javascript"></script>
  <script src="js/services.js" type="text/javascript"></script>

  </body>
</html>



